@font-face {
  font-family: 'Milkyway';
  src: url('assets/fonts/Milkyway DEMO.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ThisAppeal';
  src: url('assets/fonts/ThisAppeal-FreeDemo.ttf');
  font-weight: normal;
  font-style: normal;
}

h1{
    font-family: 'Milkyway';
    font-size: 100px;
    text-align: center;
    margin: 50px;
    -webkit-text-stroke: 1.5px white;
}

body{
    background-color: pink;
}

.hover:hover{
    color: rgb(244, 103, 127);
}

.corner{
    width: 125px;
    height: auto;
    position: absolute;
}

.top-left{
    top: 10px;
    left:100px;
    rotate: -15deg;
}

.top-right{
    top: 10px;
    right: 100px;
    rotate: 15deg;
}
.squishy{
    transition: transform 0.5s;
}

.squishy:hover{
    transform: scaleY(0.65);
}

button{
    width: 350px;
    height: 350px;
    background: rgb(137, 69, 80);
    color:azure;
    font-size: 8em;
    font-family: 'ThisAppeal';
    outline: 0.05em solid rgb(0, 0, 0);
    outline-offset: 0px;
    margin: 10px;
}

button:hover{
    color: rgb(137, 69, 80);
    background: azure;
    outline: 0.1em solid rgb(0, 0, 0);
}

.button-small{
    width: 150px;
    height: 50px;
    background: rgb(137, 69, 80);
    color:azure;
    font-size: 30px;
    font-family: 'ThisAppeal';
    outline: 2.5px solid rgb(0, 0, 0);
    outline-offset: 0px;
    margin: 10px;
    left: 1%;
    top: 1%;
    position: fixed;

}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow: hidden;
    flex-wrap: wrap;
}

.center{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.center-bottom{
    left: 50%;
    top: 90%;
    position: absolute;
    transform: translateX(-50%);
}

img{
    width: 250px;
    height: 250px;
}

.large{
    transition: transform ease 0.3s;
}

.large:hover{
    transform: scale(1.4);
}

.image-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 50px;
}

#cursor-follower{
  position: fixed;
  width: 70px; 
  height: auto;
  pointer-events: none;
  transform: translate(-25%,-28%);
  z-index: 9999;
}

*{
    cursor: none;
}
